$black-border: 1px solid #666;
$max-width: 1500px;
$margin-between-columns: 50px;
$lobby-column-height: 700px;
$margin-between-control-groups: 20px;
$paragraph-paddings: 40px;
$offset-player-name-from-left: 200px;

.lobby-page {
  justify-content: center;
  display: flex;
  flex: wrap;
  max-width: $max-width;
  flex-direction: row;
  flex-wrap: wrap;
  .lobby-colummn:last-of-type {
    display: block;
    margin-left: 40px;
  }
  .lobby-column {
    label {
      font-weight: bold;
    }
    background-color: white;
    padding: 50px;
    width: 46%;
    border: $black-border;
    height: $lobby-column-height;
  }
  .control-group {
    margin-bottom: $margin-between-control-groups;
  }

  // Player guys
  .player-name {
    font-size: 50px;
  }

  .ready-indicator {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    margin-left: 10px;

    top: 5px;
  }

  .ready {
    background-color: green;
  }
  .not-ready {
    background-color: red;
  }

  .btn-group {
    // this will probably go away maybe idk
    padding-top: 30px;
    width: 100%;
  }
}
