body {
  font-family: 'Nanum Pen Script', cursive;
  font-family: 'Hammersmith One', 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 50px;
}

.hidden {
  display: none;
}
